	@font-face {
		font-family: OpenSans;
		font-weight: normal;
		src: url("font/OpenSans-Regular.ttf");
	}
	@font-face {
		font-family: OpenSans;
		font-weight: bold;
		src: url("font/OpenSans-Bold.ttf");
	}

	* {
		padding: 0;
		margin: 0;
	  font-family: OpenSans;
	}
	::selection {
  	background-color: #00000000;
  	color: #ed333b;
	}
	html {
  	scroll-behavior: smooth;
	  color: white;
		padding: 5%;
		background-color: #e56666;
	}
	
	h1 {
		font-size: 7em;
		text-align: center;
	}
	
	.arrow {
		margin-top: 80px;
		margin-bottom: 60px;
		font-size: 0em;
		text-align: center;
		background-image: url('img/arrow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 250px;
		filter: invert(100%);
	}
	
	.depute {
		width: calc(10% - 10px);
		padding: 5px;
		display: inline-block;
	}
	
	.photo {
		width: 100%;
		border-radius: 25%;
		filter: sepia(60%) hue-rotate(320deg);
	}
	
	#photo2 {
		border-radius: 25%;
		filter: sepia(60%) hue-rotate(320deg);
		width: 80px;
		float: left;
		margin-right: 30px;
	}
	
	#gmail {
		margin-top: 30px;
		width: 60px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	
	a {
		text-decoration: none;
	}

	#email-container, #MPs-container, #end-container {
  	display: flex;
    justify-content: center;
    align-items: center;
	}
	
	#email {
	  background-image: url('./img/phone.png');
	  background-repeat: no-repeat;
	  background-size: contain;
	  margin-top: 100px;
	  height: 70vh;	
		padding: 4vh;
		padding-top: 9vh;
	}
	
	#MPs {
		width: 100%;
  	display: flex;
  	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	}
	
	input {
		display: block;
		border: none;
		outline: none;
		background-color: #00000000;
	}
	
	#subject {
		width: 32vh;
		font-size: 1.1em;
		font-weight: bold;
	}
	
	#body {
	  margin-top: 50px;
		width: 32vh;
		min-height: calc(65vh - 100px);
		border: none;
		font-size: 1.1em;
		outline: none;
		background-color: #00000000;
		resize: none
	}
	
	.submit {
		margin-top: 1vh;
		background-color: #e01b24;
		font-size: 1.1em;
		color: white;
		border-radius: 12px;
		padding: 8px;
		cursor: pointer;
		transition: 0.5s;
		width: 32vh;
	}
	
	.submit:hover {
		background-color: #ed333b;
		transition: 0.5s;
	}
	
	#search {
    text-align: center;
	  font-size: 4em;
	  width: 100%;
		font-weight: bold;
		outline: none;
		background-color: #00000000;
		color: white;
		margin-bottom: 100px;
	}
	
	#search::placeholder{
	  color: #ffffff50;
	}
	
	#end {
		margin-bottom: 200px;
		display: none;
	}
	
	#end div {
	 margin: auto;
	}
	
	#end #details-container {
		margin-top: 50px;
		margin-bottom: 50px;
		font-size:1.5em;
		width: 50%;
	}
	
	@media all and (max-width: 1100px) {
		h1 {
			font-size: 4em;
			text-align: center;
		}
		
		#search {
			font-size: 2.8em;
		}
		
		.depute {
			width: calc(25% - 10px);
		}
		
			#end #details-container {
			width: 95%;
			font-size: 0.95em;
		}
		
		#photo2 {
			margin-right: 12px;
		}
	}
